
.jumbotron { 
    background-size: cover;
    padding-bottom: 18%;
    padding-top: 18%;
    background-position: center;   
    background-repeat: no-repeat;
    position: relative;
}

/* .bannertext {
    text-align: left;
    padding: 50px;
    position: relative;
    top: 200px;
    color: white;
} */
.btn {
    background-color: transparent;
    color: white;
    border-color: white;
    
    
}
/* @media (max-width: 600px) {
    .bannertext {
        font-size: 20px;
    }
} */
.container{
    margin:0px;
    color: white;
}


/* .container {
    position: relative;
    text-align: left;
    color: white;
} */
