

<div class="jumbotron" style="background-image: url(assets/banner2.jpg);">
  <div class="container">
    <h1 class="display-4">Become Your Pet's Chef!</h1>
    <p class="lead">An application to create a balanced home-cooked diet for your dog</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button" (click)="showWeightForm()" scrollTo scrollTargetSelector="#showFormOne">Calculate Now!</a>
    </p>

  </div>
</div>






<div id="showFormOne"></div>
<app-weightform *ngIf="showForm" id="weightForm"></app-weightform>
